// Type
$sans: 'IBM Plex Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$condensed: 'IBM Plex Sans Condensed', sans-serif;
// $serif: Palatino, serif;
// $heavy: 700;
// $bold: 500;
// $medium: 400;
// $light: 200;

// // Colors
$background: #f7f5f2;
$primary: #f45e48;
$primary-light: #f8b79b;
$secondary: #4888F4;
$tertiary: #F4B448;
$beige: #d1c6bd;
$black: #222525;
$body-black: #3b3f3f;
$white: #fefefe;
// $secondary: #92c1c1;
// $tertiary: #85805B;

// // Sizes
$column: 640px;
$wide-column: 800px;
$super-column: 1080px;